/* g fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap'); */
/* fonts */
:root {
  /* font family */
  /* --ffamily-primary: 'Work Sans', sans-serif; */
  /* --ffamily-primary: 'Poppins', sans-serif; */
  --ffamily-primary: 'Roboto', sans-serif;
  /* --ffamily-primary: 'Open Sans', sans-serif; */
  --ffamily-secondary: 'Source Code Pro', monospace;
  --clr-dark: #303030;
  --clr-light: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

/* html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* 
*,
*::after,
*::before {
  box-sizing: border-box;
} */

body {
  background-color: rgb(216, 216, 216);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
  line-height: 1.5;
  height: 5000vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* navbar */
nav.navbar {
  background: rgba(0, 0, 0, 0.748) !important;
  border-top: 5px solid rgb(115, 40, 143) !important;
  font-size: 0.7rem;
}
/* logo */
#navLogo {
  font-size: 0.8rem;
  font-weight: bold;
  width: 50px;
  height: 50px;
  background-color: #f8f8f8;
  color: #303030;
  border-radius: 8px;
  padding: 0.2rem 0.2rem;
  text-align: center;
  line-height: 1.3;
}
#navLogo span {
  display: block;
}

/* dropdown */
#navbarDropdownSignIn {
  color: #b272dd !important;
}

nav.navbar .nav-link {
  font-weight: 600;
}

.nav-icons a {
  color: rgba(255, 255, 255, 0.5);
}
.nav-icons a:hover {
  color: rgba(255, 255, 255, 1);
}

/* CAROSELLOOOOOOOOOOOOOO -------------------------- */

/* #carouselExampleIndicators img {
  height: 50vh;
  object-fit: cover;
} */

/* .game-platform {
  flex-basis: 5%;
}
.game-title {
  flex-basis: 80%;
}
.game-platmforms-news {
  bottom: 3%;
  left: 3%;
}

.carousel-item-content {
  bottom: 3%;
  left: 62%;

} */

/* @media (max-width: 998px) {
   #carouselExampleIndicators img {
    object-fit: contain;
  } 
} */
#carouselExampleIndicators .carousel-item {
  height: 40vh;
}

.row.wrapper.first-carousel-item {
  background: url('gog-assets/carousel1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}
.row.wrapper.sixt-carousel-item {
  background: url('gog-assets/carousel6.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}
.row.wrapper.second-carousel-item {
  background: url('gog-assets/carousel2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}
.row.wrapper.third-carousel-item {
  background: url('gog-assets/carousel3.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}
.row.wrapper.fourth-carousel-item {
  background: url('gog-assets/carousel4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}
.row.wrapper.fifth-carousel-item {
  background: url('gog-assets/carousel5.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 100%;
}

/* controlli carosello */
#carouselExampleIndicators > .carousel-indicators {
  bottom: -15%;
}

/* cose detro alle immagini del carosello */

.game-price {
  font-weight: bold;
  font-size: 2rem;
}

.game-discount {
  background-color: rgb(115, 40, 143);
  color: #f8f8f8;

  font-size: 1.4rem;
}

.game-add-to-cart-btn-green {
  padding: 0.6rem 0.8rem;
  font-weight: bold;
  color: #f8f8f8;
  border: 0.5px solid #303030;
  background: linear-gradient(-180deg, #c1ec51, #80b02a);
  font-size: 0.7rem;
  line-height: 1;
}
.game-add-to-cart-btn-purple {
  padding: 0.5rem 0.8rem;
  color: #f8f8f8;
  border: 1px solid #303030;
  font-weight: bold;
  background: linear-gradient(-180deg, #985eb2, #723bbd);
}
@media (max-width: 768px) {
  .game-price {
    font-size: 1.4rem;
  }
}

/* one line cards section */
.card-custom {
  background: #ededed;
}

#oneRowCards img {
  height: 15vh;
  object-fit: cover;
}
.badge-soon {
  padding: 0.5rem 0.85rem;
  background: #094a77;
  color: #f8f8f8;
  border-radius: unset;
}

#oneRowCards .badge-soon {
  top: 87%;
  left: 0;
}

#oneRowCards .game-price {
  font-size: 1rem;
  color: #303030;
}

/* writing section  */
.vertical-border {
  border-left: 1px solid grey;
}

.text-violet {
  color: #985eb2;
}

/* now on sale section ------------------------------ */
/* nav */
#salesUL li a {
  color: grey;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.8rem;
  transition: color 0.2s;
}
#salesUL li a:hover {
  color: #985eb2;
}
#salesUL li a.active {
  color: #723bbd;
  padding-bottom: 0.4rem;
  padding-top: 0.6rem;
  border-bottom: 4px solid #723bbd;
}

/* general carousel cards styling */
.now-on-sale-section .img-vertical {
  min-height: 35vh;
  max-height: 100%;
  object-fit: cover;
}

/* carousel controllers postion */
.carousel-control-prev {
  left: -10%;
}
.carousel-control-next {
  right: -10%;
}

.carousel-indicators {
  bottom: -15%;
}
/* overlays */
.vertical-card {
  position: relative;
  color: #f8f8f8;
  text-align: center;
  cursor: pointer;
}

.vertical-card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
  transition: all 0.3s;
}
.vertical-card.overlay-pink::after {
  background: #bd3e7d;
}
.vertical-card.overlay-violet::after {
  background: #a561c2;
}
.vertical-card.overlay-light-blue::after {
  background: #72cbe4;
}
.vertical-card.overlay-grey::after {
  background: #0a0a0a;
}
.vertical-card:hover::after {
  filter: brightness(1.3);
}
.vertical-card.overlay-grey:hover::after {
  opacity: 0.3;
}

/* vertical card inner content */
.vertical-card-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  z-index: 3;
}

.vertical-card-heading {
  font-size: 1.4rem;
  font-weight: bold;
  /* padding: 0.4rem 0; */
  margin-bottom: 0;
}
/* featuredDealsCarousel carousel */

/* animations */

/* ----------------------------------------------
 * Generated by Animista on 2021-2-27 9:46:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-hor
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.rotate-in-hor {
  -webkit-animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-27 9:51:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center - body
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
