/* g fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap'); */
/* fonts */
:root {
  /* font family */
  /* --ffamily-primary: 'Work Sans', sans-serif; */
  /* --ffamily-primary: 'Poppins', sans-serif; */
  /* --ffamily-primary: 'Roboto', sans-serif; */
  --ffamily-primary: 'Open Sans', sans-serif;
  --ffamily-secondary: 'Source Code Pro', monospace;
  --clr-dark: #303030;
  --clr-light: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

/* html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* 
*,
*::after,
*::before {
  box-sizing: border-box;
} */

body {
  background-color: rgb(216, 216, 216);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.backdrop-blur {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* navbar */
nav.navbar {
  background: #2d2d2dee !important;
  border-top: 5px solid rgb(115, 40, 143) !important;
}
/* logo */
#navLogo {
  font-size: 0.8rem;
  font-weight: bold;
  width: 50px;
  height: 50px;
  background-color: #f8f8f8;
  color: #303030;
  border-radius: 8px;
  padding: 0.2rem 0.2rem;
  text-align: center;
  line-height: 1.3;
}
#navLogo span {
  display: block;
}

/* dropdown */
#navbarDropdownSignIn {
  color: #b272dd !important;
}

nav.navbar .nav-link {
  font-weight: 600;
}

.nav-icons a {
  color: rgba(255, 255, 255, 0.5);
}
.nav-icons a:hover {
  color: rgba(255, 255, 255, 1);
}
